#container {
  max-width:960px;
  margin: 0 auto;
  position: relative;
}

#header {
  background-color:yellow;
  position:fixed;
  top:10px;
  left:10px;
}

#brand {
  background-color:cyan;

}

#nav {
  background-color:pink;
  list-style-type:none;

}

#content {
  background-color:lightgrey;
  margin-top:100px;
  position: absolute;
width:600px;
}

#sidebar {
width:300px;
margin-left:600px;
}


li {
  display:inline;
}
